.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #bfedd5 50%, #8eabf6 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}  
.st {
  height:100%;
  margin: 0px auto;
  width:1300px;
}
.button_line001 {
  height:100%;
  margin: 0px auto;
  width:1300px;
}
/* 全て共通 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  overflow-wrap: break-word;
  word-wrap: break-word; 
}
